---
import { Image } from "astro:assets";
import type { Project } from "@/data/projects";
const { project } = Astro.props as { project: Project };
if (!project) {
  throw new Error("The 'project' property is required.");
}
---

<div class="group">
  <a href={`/projects/${project.slug}`} class="block">
    <div
      class="rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4"
    >
      {
        project.image ? (
          <Image
            src={project.image}
            alt={project.title}
            class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300"
          />
        ) : null
      }
    </div>
    <div class="flex items-center px-3">
      <div class="flex-grow">
        <h4 class="text-2xl font-semibold">{project.title}</h4>
        <span class="py-1 text-sm text-[var(--white-icon)]">
          {project.status}
        </span>
      </div>
      <div class="flex gap-2 ml-auto">
        {
          project.github ? (
            <a
              target="_blank"
              href={project.github}
              aria-label="GitHub"
              class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-7"
              >
                <path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z" />
              </svg>
            </a>
          ) : null
        }
        {
          project.figma ? (
            <a
              target="_blank"
              href={project.figma}
              aria-label="Figma"
              class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-7"
              >
                <path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z" />
              </svg>
            </a>
          ) : null
        }
        <a
          target="_blank"
          href={project.link}
          aria-label="Preview"
          class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-7"
          >
            <path
              d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </a>
  <button
    class="btn"
    data-modal-target={`modal-${project.slug}`}
    onclick="toggleModal(this.dataset.modalTarget)"
  >
    Read more
  </button>
</div>
