---
import { Image } from "astro:assets";
import type { Project } from "@/data/projects";
import { Icon } from "astro-icon/components";
const { project } = Astro.props as { project: Project };
if (!project) {
  throw new Error("The 'project' property is required.");
}
---

<div class="group">
  <a
    href={`/projects/${project.slug}`}
    class="flex justify-center items-start space-y-5"
  >
    <div
      class="relative w-full rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4"
    >
      {
        project.image ? (
          <Image
            src={project.image}
            alt={project.title}
            class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300 z-0"
          />
        ) : null
      }
      <div
        class="description-overlay absolute inset-0 z-10 flex items-center bg-gradient-to-t from-[var(--background)] to-[var(--background)]/50 opacity-0 group-hover:opacity-100 transition-all translate-y-4 group-hover:translate-y-0 duration-300 motion-reduce:transition-none"
      >
        <p class="text-white text-sm md:text-base p-4">
          {project.shortDescription}
        </p>
      </div>
    </div>
    <div class="flex items-center justify-start space-y-3 lg:space-y-5 px-3">
      <div class="flex-grow">
        <h4 class="text-2xl font-semibold">
          {!project.shortTitle ? project.title : project.shortTitle}
        </h4>
        <p>{project.role}</p>
        <span class="py-1 text-sm text-[var(--white-icon)] capitalize">
          {project.year}
          <span class="badge badge-sm">{project.status}</span>
        </span>
      </div>
      <div class="flex gap-2 ml-auto">
        {
          project.github ? (
            <a
              target="_blank"
              href={project.github}
              aria-label="GitHub"
              title="GitHub Repository"
              class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
            >
              <Icon name="mdi:github" class="size-7" />
            </a>
          ) : null
        }
        {
          project.figma ? (
            <a
              target="_blank"
              href={project.figma}
              aria-label="Figma"
              title="Figma Design"
              class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)] object-fill"
            >
              <Icon name="lineicons:figma" class="size-7" />
            </a>
          ) : null
        }
        {
          project.link ? (
            <a
              target="_blank"
              href={project.link}
              aria-label="Preview"
              title="View Project"
              class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
            >
              <Icon name="mdi:web" class="size-7" />
            </a>
          ) : null
        }
      </div>
    </div>
    <button
      class="btn btn-neutral ml-3 mt-3"
      data-modal-target={`modal-${project.slug}`}
      onclick="toggleModal(this.dataset.modalTarget)"
    >
      Read more
    </button>
  </a>
</div>
