---
import { navItems, NavItem } from "../data/nav.config.ts";

const currentPath = Astro.url.pathname;
---

<div class="flex justify-center w-full">
  <nav
    id="main-nav"
    class="fixed left-1/2 z-[100] bg-transparent border-1 border-transparent backdrop-blur-xl transition-all duration-500 ease-in-out md:top-6 md:bottom-auto bottom-0 w-[80%]"
  >
    <div class="container mx-auto flex justify-center items-center p-3">
      <ul
        class="flex w-full justify-between md:space-x-6 md:justify-center md:gap-12 gap-6"
      >
        {
          navItems.map((item: NavItem) => {
            const isInternalActive =
              item.type === "internal" && item.href === currentPath;

            // Smart href builder:
            const basePath = Astro.url.pathname === "/" ? "" : "/";
            const fullHref =
              item.type === "section" ? `${basePath}${item.href}` : item.href;

            return (
              <li class="flex-1 md:flex-none">
                <a
                  href={fullHref}
                  class={`flex flex-col items-center gap-1 text-[var(--white-icon)] transition-colors text-xs md:text-base relative group ${isInternalActive ? "active" : ""}`}
                >
                  <div class="absolute -left-4 top-1/2 w-2 h-2 rounded-full transition-all duration-300 bg-[#A9FF5B] nav-indicator hidden md:block" />
                  <span class="md:hidden flex items-center justify-center w-6 h-6">
                    <fragment set:html={item.icon} />
                  </span>
                  <span class="hidden md:inline-block">{item.label}</span>
                  <span class="md:hidden">{item.label}</span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </nav>
</div>

<style>
  nav {
    transform: translateX(-50%);
    background-color: transparent;
    transition:
      background-color 0.3s ease,
      border-radius 0.3s ease,
      border-color 0.3s ease;
  }
  nav.scrolling {
    background-color: var(--component-bg);
    border-color: #ffffff10;
    border-radius: 9999px;
  }

  nav a .nav-indicator {
    transform: translateY(0) scale(0);
    opacity: 0;
  }

  nav a.active .nav-indicator {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  nav a.active {
    color: white !important;
  }
</style>

<script type="module" src="/js/navObserver.js"></script>
