---
import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";

import { Icon } from "astro-icon/components";
import ProjectHero from "@/components/content/projects/ProjectHero.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

import "@/styles/projects.css";
import LogoWall from "@/components/LogoWall.astro";
import { technologies, Technology } from "@/data/technologies";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const techLogos = project.data.tech.flatMap((label: string) => {
  const found = technologies.find((t) => t.label === label);
  console.log({ found });

  return found ? [found] : [];
});
---

<Layout
  title="Dave Sayer, Projects"
  ogTitle={`FRST.UK project: ${project.data.title}`}
  ogDescription={project.data.shortDescription}
>
  <ProjectHero title={project.data.title} image={project.data.image} />
  <section class="text-[var(--white)] mt-16 lg:mt-0" id="home">
    <div class="max-w-5xl mx-auto gap-y-8 py-6 lg:py-24 xl:py-28">
      <div class="flex flex-col text-left gap-y-5 lg:gap-y-8">
        <div class="relative shrink self-start grow-0">
          <h1 class="relative text-3xl lg:text-4xl xl:text-5xl mb-2 z-10">
            {project.data.title}
          </h1>
          <ul
            class="list-none flex flex-col grow w-full items-start justify-start gap-0 z-0"
          >
            <li
              class="text-[var(--sec)]/70 font-light mb-4 text-base xl:text-xl md:text-base xl:text-xl capitalize absolute -top-7 right-3.5 md:-top-2.5 md:right-2.5 xl:-top-3.5 xl:right-3.5 order-3 md:order-none w-auto"
            >
              <div
                class="bg-gradient-to-l from-0% to-5% from-[var(--background)] to-transparent w-full absolute inset-0 z-0"
              >
              </div>
              <span class="sr-only">Date(s):</span>
              {project.data.year}
            </li>
            <li class="text-white/70 font-light mb-4 text-xl capitalize">
              <span class="sr-only">Role:</span>
              {project.data.role}
            </li>
            <li class="text-white/70 font-light mb-4 text-xl capitalize">
              <span class="sr-only">Technology used:</span>
              <LogoWall tech={techLogos} size="small" />
            </li>
            <li
              class="absolute -top-2.5 left-2.5 xl:-top-3.5 xl:left-3.5 text-[var(--sec)]/60 font-light mb-4 text-base xl:text-xl w-auto capitalize"
            >
              <div
                class="bg-gradient-to-r from-0% to-5% from-[var(--background)] to-transparent w-full absolute inset-0 z-0"
              >
              </div>
              <span class="sr-only">Industry:</span>
              {project.data.industry}
            </li>
          </ul>
        </div>
        <div
          class="prose md:prose-lg lg:prose-xl prose-p:first-of-type:text-lg lg:prose-p:first-of-type:text-2xl prose-headings:text-slate-300 prose-invert prose-a:hover:text-blue-400 prose-blockquote:font-light prose-blockquote:prose-p:first-of-type:text-base lg:prose-blockquote:prose-p:first-of-type:text-lg prose-blockquote:border-l-1 prose-blockquote:border-secondary prose-blockquote:text-white/80 prose-img:w-full prose-img:h-auto"
        >
          <Content />
        </div>

        <div class="tech-stack">
          <h2 class="text-xl lg:text-2xl font-semibold mb-5 capitalize">
            Technology used
          </h2>
          <LogoWall tech={techLogos} size="medium" />
          <!-- <ul class="flex items-start justify-start flex-wrap gap-3">
            {
              project.data.tech.map((tech) => (
                <li class="badge badge-primary">{tech}</li>
              ))
            }
          </ul> -->
        </div>

        <ul class="flex items-center justify-start flex-wrap gap-x-5 gap-y-3">
          {
            project.data.link && (
              <li>
                <a
                  href={project.data.link}
                  target="_blank"
                  class="underline transition-colors duration-200 inline-flex items-center gap-x-1"
                >
                  <Icon name="mdi:web" /> View Website{" "}
                  {/* <Icon name="mdi:external-link" /> */}
                </a>
              </li>
            )
          }
          {
            project.data.github && (
              <li>
                <a
                  href={project.data.github}
                  target="_blank"
                  class="underline transition-colors duration-200 inline-flex items-center gap-x-1"
                >
                  <Icon name="mdi:github" /> View on GitHub{" "}
                  {/* <Icon name="mdi:external-link" /> */}
                </a>
              </li>
            )
          }
          {
            project.data.figma && (
              <li>
                <a
                  href={project.data.figma}
                  target="_blank"
                  class="underline transition-colors duration-200 hover:text-blue-400 inline-flex items-center gap-x-1"
                >
                  <Icon name="lineicons:figma" /> View Figma Designs{" "}
                  {/* <Icon name="mdi:external-link" /> */}
                </a>
              </li>
            )
          }
        </ul>

        <a href="/#projects" class="btn btn-outline self-start shrink"
          >← Back to projects</a
        >
      </div>
    </div>
  </section>
</Layout>
