---
import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";

import type { Project } from "@/data/projects";
import ProjectHero from "@/components/content/projects/ProjectHero.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
console.log("🚀 - ", project.data.slug);
const { Content } = await render(project);
---

<Layout title="Dave Sayer, Projects">
  <Nav />
  <section class="text-[var(--white)] mt-12 md:mt-0" id="home">
    <ProjectHero title={project.data.title} image={project.data.image} />
    <div class="max-w-5xl mx-auto space-y-10 md:py-28 pb-14">
      <div class="text-left space-y-4">
        <h1 class="text-3xl font-bold mb-2">{project.data.title}</h1>
        <p class="text-zinc-400 mb-4">{project.data.role}</p>

        <div class="prose prose-lg prose-headings:text-slate-300 prose-invert">
          <Content />
        </div>

        <div class="mb-8">
          <h2 class="text-xl font-semibold mb-2">Tech Stack</h2>
          <ul class="list-disc list-inside">
            {project.data.tech.map((tech) => <li>{tech}</li>)}
          </ul>
        </div>

        <div class="space-y-2">
          {
            project.github && (
              <p>
                <a
                  href={project.data.github}
                  target="_blank"
                  class="underline hover:text-blue-400"
                >
                  View on GitHub →
                </a>
              </p>
            )
          }
          {
            project.figma && (
              <p>
                <a
                  href={project.data.figma}
                  target="_blank"
                  class="underline hover:text-blue-400"
                >
                  View Figma Preview →
                </a>
              </p>
            )
          }
        </div>

        <div class="mt-8">
          <a href="/#projects" class="btn btn-outline">← Back to projects</a>
        </div>
      </div>
    </div>
  </section>
</Layout>
