---
import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";

import { Icon } from "astro-icon/components";
import ProjectHero from "@/components/content/projects/ProjectHero.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

import "@/styles/projects.css";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout
  title="Dave Sayer, Projects"
  ogTitle={`FRST.UK project: ${project.data.title}`}
  ogDescription={project.data.shortDescription}
>
  <ProjectHero title={project.data.title} image={project.data.image} />
  <section class="text-[var(--white)] mt-16 lg:mt-0" id="home">
    <div class="max-w-5xl mx-auto gap-y-8 py-0s md:py-14 lg:py-18 xl:py-24">
      <div class="flex flex-col text-left gap-y-5 lg:gap-y-8">
        <div>
          <h1 class="text-3xl font-bold mb-2">{project.data.title}</h1>
          <p class="text-zinc-400 mb-4">{project.data.role}</p>
        </div>
        <div
          class="prose md:prose-lg prose-headings:text-slate-300 prose-invert hover:prose-a:text-blue-400"
        >
          <Content />
        </div>

        <div class="tech-stack">
          <h2 class="text-xl font-semibold mb-2">Tech Stack</h2>
          <ul class="flex items-start justify-start flex-wrap gap-3">
            {
              project.data.tech.map((tech) => (
                <li class="badge badge-primary">{tech}</li>
              ))
            }
          </ul>
        </div>

        <ul class="flex items-center justify-start gap-x-5">
          {
            project.data.link && (
              <li>
                <a
                  href={project.data.link}
                  target="_blank"
                  class="underline transition-colors duration-200 hover:text-blue-400 inline-flex items-center gap-x-1"
                >
                  <Icon name="mdi:web" /> View Website{" "}
                  {/* <Icon name="mdi:external-link" /> */}
                </a>
              </li>
            )
          }
          {
            project.data.github && (
              <li>
                <a
                  href={project.data.github}
                  target="_blank"
                  class="underline transition-colors duration-200 hover:text-blue-400  inline-flex items-center gap-x-1"
                >
                  <Icon name="mdi:github" /> View on GitHub{" "}
                  {/* <Icon name="mdi:external-link" /> */}
                </a>
              </li>
            )
          }
          {
            project.data.figma && (
              <li>
                <a
                  href={project.data.figma}
                  target="_blank"
                  class="underline transition-colors duration-200 hover:text-blue-400 inline-flex items-center gap-x-1"
                >
                  <Icon name="lineicons:figma" /> View Figma Designs{" "}
                  {/* <Icon name="mdi:external-link" /> */}
                </a>
              </li>
            )
          }
        </ul>

        <a href="/#projects" class="btn btn-outline self-start shrink"
          >← Back to projects</a
        >
      </div>
    </div>
  </section>
</Layout>
